* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #000;
    --red: red;
}

@font-face {
    font-family: futurak;
    src: url(../assets/fonts/futurak.ttf);
}

body {
    background-color: var(--black);
    color: white;
}


nav {

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;

}

.logo-img {
    width: 160px;
}

.menu-items a {
    text-decoration: none;
    color: white;
    margin: 0px 15px;
    font-size: 1.2rem;
}

.franchise-btn {
    padding: 14px 16.5px;
    background-color: transparent;
    color: white;
    border-radius: 50px;
    border: 1px solid;
    cursor: pointer;
}

.order-btn {
    padding: 13px 16.5px;
    border: none;
    background-color: var(--red);
    color: white;
    border-radius: 50px;
    margin: 0px 10px;
    cursor: pointer;
}

.bef-order {
    margin: 0px 3px;
    display: none;
}

.arrow {
    padding: 5px;
    background-color: white;
    color: var(--red);
    border-radius: 20px;
    cursor: pointer;

}

.menu-bar {
    display: none;
}

.fa-bars {
    color: white;
    font-size: 30px;
}

.mobile-menu {
    width: 50vw;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    padding: 20px;
    display: none;
    /* transition: 2s ease; */
    border-radius: 10px;
}

.container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
}

.f-heading{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
    font-family: math;

}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* color: black; */
}

.form-group {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    position: relative;
}

label {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 16px;
}

.form-group input {
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: black;
}

.form-group.invalid input {
    border: 2px solid red;
}

.form-group.invalid::after {
    content: '!';
    color: red;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    font-size: 18px;
}

.full-width {
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn {
    background: #ffc107;
    border: none;
    padding: 12px 40px;
    border-radius: 999px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 50px;
}

button:hover {
    background: #e0a800;
}

@media (max-width: 768px) {
    .form-group {
        flex: 1 1 100%;
    }
}

@media(max-width: 950px) {
    .none {
        display: none;
    }

    .menu-bar {
        display: flex;
    }

    .logo-img {
        width: 120px;
    }

    nav {
        justify-content: space-between;
        padding: 0px 10px;
    }

    .bef-order {
        display: inline;
    }



}